 .grid-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr auto;
     gap: 10px;
 }

 .grid-item {
     background-color: #f2f2f2;
     padding: 20px;
     text-align: center;
 }

 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #333;
     color: #fff;
     padding: 10px;
     text-align: center;
 }

 .section1 {
     background-color: red;
 }

 .selected {
     border: 2px solid blue;
 }